
#error
{
    color: red;
    text-decoration: underline;
    margin-top: 40px;
}

footer
{
    position: absolute;
    bottom: 1px;
    left: 0;
    display: block;
    width: 100%;
}

#msg
{
    margin-top: 15px;
}

.table
{
    margin-top: 10px;
    width: 200px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
