<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/index.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<h6 class="text-center" id="msg">Add {{ table }}</h6>
		<div class="container">
				<div class="col-sm-9 col-md-7 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<form action="{{ url_for('complete') }}" autocomplete="off" method="POST">
								<div class="form-group">
									<div>
										<input autofocus required name="first" type="text" class="form-control" placeholder="First name">
										<br>
									</div>
									<div>
										<input required name="last" type="text" class="form-control" placeholder="Last name">
										<br>
									</div>
								</div>
								<div class="form-group">
									<div>
										<select required name="gender" class="form-control">
											<option value="" selected disabled>Gender</option>
											<option value="male">Male</option>
											<option value="female">Female</option>
											<option value="other">Other</option>
										</select>
										<br>
									</div>
									<div>
										<input required name="town" type="text" class="form-control" placeholder="Town/Village">
										<br>
									</div>
								</div>
								<div class="form-group">
									<div>
										<input required name="district" type="text" class="form-control" placeholder="District">
										<br>
									</div>
									<div>
										<input required name="state" type="text" class="form-control" placeholder="State">
										<br>
									</div>
								</div>
								<div class="form-group">
									<div>
										<input required name="user_id" type="text" class="form-control" placeholder="User Id">
										<br>
									</div>
									<div>
										<input required name="contact" type="number" class="form-control" placeholder="Contact">
										<br>
									</div>
								</div>
								<hr class="my-4">
								<div class="text-center">
									<button type="submit" class="btn btn-primary">Complete Your Profile</button>
									<br>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>