{% include "css.html" %}

<!DOCTYPE html>
<html lang="en">
	
	{% block css %}

	{% endblock %}

	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-md-8 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<form action="{{ url_for('complete') }}" autocomplete="off" method="POST">
								<div class="row">
									<div class="col">
										<input autofocus required name="first" type="text" class="form-control" placeholder="First name">
									</div>
									<div class="col">
										<input required name="last" type="text" class="form-control" placeholder="Last name">
									</div>
								</div><br>
								<div class="row">
									<div class="col w-100">
										<select required name="gender" class="form-control">
											<option value="" selected disabled>Gender</option>
											<option value="male">Male</option>
											<option value="female">Female</option>
											<option value="other">Other</option>
										</select>
									</div>
									<div class="col">
										<input required name="contact" type="number" class="form-control" placeholder="Contact">
									</div>
								</div><br>
								<div class="row">
									<div class="col">
										<input required name="address" type="text" class="form-control" placeholder="Town, District, State">
									</div>
								</div><br>
								<hr class="my-4">
								<div class="text-center">
									<button type="submit" class="btn button">Complete Your Profile</button>
									<br>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>