{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <form action="{{ url_for('profit_loss_cropwise') }}" method="post">
                        <div class="form-group">
                            <input autofocus required class="form-control" type="text" name="crop_name" placeholder="Enter Crop name">
                        </div>
                        <hr class="my-4">
						<div class="text-center">
                            <button type="submit" class="btn">Calculate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}