{% extends "layout.html" %}

{% block body %}

    <thead class="thead-light">
        <tr>
            <th>Farm Id</th>
            <th>Farm Acre</th>
            <th>Farm Location</th>
            <th>Irrigation Source</th>
            <th colspan="2">Actions</th>
            <form action="{{ url_for('add') }}" method="post">
                <th>
                    <button type="submit" class="addbtn btn-sm" name="farm_id" value="farm">Add</button>
                </th>
            </form>
        </tr>
    </thead>
    <tbody>                
        {% for record in info %}
        <tr>
            {% for value in record.values() %}
                <td>{{ value }}</td>
            {% endfor %}
            <form action="{{ url_for('update') }}" method="post">
                <td>
                    <button type="submit" class="udtbtn btn-sm" value = '{{ record.farm_id }}' name="farm_id+farm">Update</button>
                </td>
            </form>
            <form action="{{ url_for('delete') }}" method="post">
                <td>
                    <button type="submit" class="dltbtn btn-sm" value = '{{ record.farm_id }}' name="farm_id+farm">Delete</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %} 