{% extends "layout.html" %}

{% block body %}
        <h6 class="text-center" id="msg">{{ confirm }}</h6>
        <section>  
            <table class="table table-sm text-center table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Fertilizer Id</th>
                        <th>Fertilizer Name</th>
                        <th>Quantity(in kg)</th>
                        <th>Price</th>
                        <th>Crop Name</th>
                        <th>User id</th>
                        <th colspan="2">Actions</th>
                        <th>
                            <form action="{{ url_for('add') }}" method="post">
                                <button type="submit" class="btn btn-primary btn-sm" name="fertilizer" >Add</button>
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in msg %}
                    <tr>
                        {% for value in record.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                        <form action="{{ url_for('update') }}" method="post">
                            <td>
                                <button type="submit" class="btn btn-success btn-sm" value = '{{ record.fertilizer_id }}' name="fertilizer_id+fertilizer" >Update</button>
                            </td>
                        </form>
                        <form action="{{ url_for('delete') }}" method="post">
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm" value = '{{ record.fertilizer_id }}' name="fertilizer_id+fertilizer" >Delete</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %} 