{% extends "layout.html" %}

{% block body %}
                <thead class="thead-light">
                    <tr>
                        <th>Labour Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Contact No</th>
                        <th>Work</th>
                        <th>Working Hours</th>
                        <th>Salary</th>
                        <th colspan="2">Actions</th>
                        <form action="{{ url_for('add') }}" method="post">
                            <th>
                                <button type="submit" class="addbtn btn-sm" name="labour_id" value="labour">Add</button>
                            </th>
                        </form>
                    </tr>
                </thead>
                <tbody>
                    {% for record in info %}
                    <tr>
                        {% for value in record.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        <form action="{{ url_for('update') }}" method="post">
                            <td>
                                <button type="submit" class="udtbtn btn-sm" value = '{{ record.labour_id }}' name="labour_id+labour" >Update</button>
                            </td>
                        </form>
                        <form action="{{ url_for('delete') }}" method="post">
                            <td>
                                <button type="submit" class="dltbtn btn-sm" value = '{{ record.labour_id }}' name="labour_id+labour" >Delete</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
{% endblock %} 