<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <header>Hello {{user}}</header><br>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('farm') }}">Farm</a>
            <a href="{{ url_for('crop_allocation') }}">Crop Allocation</a>
            <!--a href="/">Maintain</a-->
            <a href="{{ url_for('labour') }}">Labours</a>
            <a href="{{ url_for('warehouse') }}">Warehouse</a>
            <a href="{{ url_for('crop_market') }}">Crop Market</a>
            <a id="logout" href="{{ url_for('logout') }}">Log out</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>