<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <link rel="shortcut icon" href="../static/sprout.png" type="image/x-icon">
    </head>
    <body>
        <header>Hello {{user}}</header><br>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('farm') }}">Farm</a></li>
            <li><a href="{{ url_for('crop_allocation') }}">Crop Allocation</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Maintain &#8226;</a>
                <div class="dropdown-content">
                  <a href="{{ url_for('seed') }}">Seed</a>
                  <a href="{{ url_for('pesticide') }}">Pesticide</a>
                  <a href="{{ url_for('fertilizer') }}">Fertilizer</a>
                </div>
            </li>
            <li><a href="{{ url_for('labour') }}">Labours</a></li>
            <li><a href="{{ url_for('warehouse') }}">Warehouse</a></li>
            <li><a href="{{ url_for('crop_market') }}">Crop Market</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Profit-Loss &#8226;</a>
                <div class="dropdown-content">
                  <a href="#">Current</a>
                  <a href="{{ url_for('cropwise') }}">Crop wise</a>
                </div>
            </li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
        {% block body %}{% endblock %}
        <!--footer id="freepik">
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer-->
    </body>
</html>