{% include "css.html" %}

<!DOCTYPE html>
<html lang="en">
	
	{% block css %}

	{% endblock %}

	<body>
		<h4 class="text-center" id="error">{{ msg }}</h4>
		<div class="container">
			<div class="row">
			  <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">
						<h5 class="card-title text-center">Log In</h5><br>
						<form class="form-signin" action="{{ url_for('login') }}" method="post">
							<div class="form-label-group">
								<input autofocus required type="text" id="inputText" class="form-control" name="username" placeholder="Enter Your User Id"/>
							</div><br>
							<div class="form-label-group">
								<input required name="password" type="password" class="form-control" placeholder="Enter Your Password"/>
							</div><br>
							<button class="btn btn-lg btn-block text-uppercase" type="submit">Log In</button>
						</form>
						<hr class="my-4">
						<div class="text-center">
							Don't have an account? <a class="button" href="{{ url_for('signup') }}"><b>Sign Up</b></a>
						</div>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</body>
	<footer class="bg-dark text-center text-lg-start text-white">
		Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</footer>
</html>