{% extends "layout.html" %}

{% block body %}
            <table class="table text-center table-bordered">
                <thead class="thead-light">
                    <tr>
						<th rowspan="2">Selling Price</th>
						<th colspan="4">Expenditure</th>
					</tr>
                    <tr>
                        <th>Seed</th>
                        <th>Pesticides</th>
                        <th>Fertilizers</th>
                        <th>Labours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td  rowspan="2">{{ sp }}</td>
                        {% for val in values %}
                            <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="4">Total expenditures = {{ total_exp }}</td> 
                    </tr>
                    <tr>
                        <td colspan="5" class="bg-danger text-white">Loss = {{ total_exp - sp }}</td>
                    </tr>
                </tbody>
            </table>
{% endblock %}
