{% extends "layout.html" %}

{% block body %}
        <section>  
            <table>
                <thead>
                    <tr>
                        <th>Pesticide Id</th>
                        <th>Pesticide Name</th>
                        <th>Quantity(in kg)</th>
                        <th>Price</th>
                        <th>Crop Name</th>
                        <th>User id</th>
                        <th colspan="2">Actions</th>
                        <form action="{{ url_for('add') }}" method="post">
                            <th id="noborder"><button type="submit" name="pesticide" id="add">Add</button></th>
                        </form>
                    </tr>
                </thead>
                <tbody>
                    <header>{{ confirm }}</header>
                    {% for record in msg %}
                    <tr>
                        {% for value in record.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        <form action="{{ url_for('update') }}" method="post">
                            <td>
                                <button id="update" type="submit" value = '{{ record.pesticide_id }}' name="pesticide_id+pesticide">Update</button>
                            </td>
                        </form>
                        <form action="{{ url_for('delete') }}" method="post">
                            <td>
                                <button id="delete" type="submit" value = '{{ record.pesticide_id }}' name="pesticide_id+pesticide">Delete</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section> 
{% endblock %} 